---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.checklib-item {
    margin-bottom: 2rem;
}
.checklib-item-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.checklib-item details {
    h1, h2 { font-size: 1.25rem; }
    h3 { font-size: 1rem; }
    h4, h5, h6 { font-size: 1rem; }
}
.task-list {
    list-style: none;
    input {
        margin-right: 0.25rem;
    }
}
.svg-icon {
    width: 22px;
    margin-top: 6px;
}
